
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="css/jquery-jvectormap-2.0.3.css">
      <link rel="stylesheet" type="text/css" href="css/map.css">
      
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
      <script type="text/javascript" src="js/jquery-jvectormap-2.0.3.min.js"></script>
      <script type="text/javascript" src="js/jquery-jvectormap-world-mill.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.12.js"></script>      
      <script type="text/javascript" src="js/country-filter.js"></script>
      <script type="text/javascript" src="js/distributers.js"></script>
      <script type="text/javascript" src="js/map.js"></script>

      <script>
        jQuery(function() {
          processMap()
        })
      </script>
  </head>

  <script id="distributer-template" type="text/x-handlebars-template">
    {{#if disptributer_name}}      
      <div class="distributer">{{disptributer_name}}</div>      
    {{/if}}
    {{#if address}}
      <div class="separator" />
      <div class="content">{{address}}</div>
    {{/if}}

    {{#if contact}}
      <div class="separator" />
      <div class="content">{{contact}}</div>
    {{/if}}


    {{#if phone}}
      <div class="separator" />
      <div class="content">Tel: {{phone}}</div>
    {{/if}}
    {{#if fax}}
      <div class="content">Fax: {{fax}}</div>
    {{/if}}

    {{#if web_site}}
      <div class="separator" />
      <div class="content">{{web_site}}</div>
    {{/if}}
    {{#if email}}
      <div class="content">{{email}}</div>
    {{/if}}
  </script>

  <body>
    <div style="width: 100%; padding-bottom: 10px; padding-top: 25px;">
      <span style="font-weight: bold; font-size: 23px;">Distributors | World Map</span>
      
      <div style="float: right; display: inline-block;">
        <span style="padding:4px 5px 0 0; color:#999;">Search Country</span>
        <input id="search_map" type="text" name="search_map" value placeholder />
      </div>
    </div>
    
    <div class="region_toggle">
      <!--<input id="show-regions" type="checkbox" /> <label for="show-regions">Show Regions</label>-->
      <a id="show-regions" href="#">Show Regions</a>
    </div>
    
    <div id="world-map" style="width: 100%; height: 600px; display: none; padding: 15px;"></div>

    <div id="usa-map" style="width: 100%; height: 600px; display: none; padding: 15px;">
      <button id="usa-back" type="button">Back to World</button>
      <div id="usa-map-content"   style="width: 100%; height: 100%;"></div>
    </div>
    
    <div id="distributer-info"></div>    
    
  </body>
</html>